<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" parallel="true" thread-count="5">
    <test name="MySuite">
        <groups>
            <run>
                <exclude name="nothing"/>
                <include name="login2"/>
            </run>
        </groups>
        <packages>
            <package name="com.automation.tests"></package>
        </packages>
    </test>
</suite>
